*{
    margin: 0px;
    padding: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
.navbar{
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    background-color: black;
    z-index: 1;
}
.logo{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
}
.menu a{
    text-decoration: none;
    color: white;
    padding-right: 5rem;
    font-size: 1.1rem;
}
.menu a:hover{
    color: #ffbd39;
}
/* herosection */
.hero{
    display: flex;
}
.hero-section{
    color: white;
    margin-left: 10rem;
    margin-top: 15rem;
}
.hello{
    color: #ffbd39;
}
.heading{
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 1.5rem;
}
.hero-section span{
    color: #ffbd39;
}
.text{
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
.welcome{
    font-size: 1.5rem;
    font-family: Monaco;
    margin-bottom: 3rem;
}
.btn{
    text-decoration: none;
    margin-right: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 40px;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium';
}
.resume{
    background-color: #ffbd39;
    color: black;
    text-align: center;
}
.resume:hover{
    background-color: transparent;
    color: white;
    border: 1px solid grey;
}
.projectbutton{
    border: 1px solid grey;
    color: white;
}
.projectbutton:hover{
    background-color: rgb(183, 183, 183);
    color: black;
}
.image{
    width: 50%;
    margin: 15rem 10rem 0px 0px;
}
.photo{
    align-items: center;
    height: 400px;
    width: 400px;
    position: relative;
    top: 20px;
    left:150px ;
    border-radius: 50%;
    background-image: url("img1.jpg");
    background-size: cover;
}
/* about */
.container{
    margin-top: 10rem;
    display: flex;
}
.info{
    color: white;
    margin-left: 10rem;
    margin-top: 7rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.name{
    padding-bottom: 20px;
}
.edu{
    padding-bottom: 20px;
}
.add{
    padding-bottom: 40px;
    border-bottom: 1px solid gray ;
}
.info h2{
    margin-top: 20px;
}
.skills1{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.c-lang{
    margin-top: 40px;
    margin-left: 20px;
    height: 100px;
    width: 100px;
    background-image: url("c.png");
    background-size: cover;
}
.cpplang{
    margin-top: 40px;
    margin-left: 20px;
    height: 100px;
    width: 100px;
    background-image: url("cpp.png");
    background-size: cover;
}
.csslang{
    margin-top: 40px;
    margin-left: 20px;
    height: 100px;
    width: 100px;
    background-image: url("css.webp");
    background-size: cover;
}
.htmllang{
    margin-top: 40px;
    margin-left: 20px;
    height: 100px;
    width: 100px;
    background-image: url("html\ -logo.png");
    background-size: cover;
}
.about-me{
    width: 50%;
    margin: 7rem 10rem ;
    border-left: 1px solid gray;
    text-align: center;
}
.details{
    height: 400px;
    width: 500px;
    position: relative;
    top : 6rem;
    left : 5rem;
    color: white;
}
.details h1{
    color: #ffbd39;
    font-size: 2.5rem;
}
.details p{
    margin-top: 10px;
    text-align: left;
    word-spacing: 2px;
}
/* project */
.project-made{
    color: white;
    text-align: center;
    margin-top: 1rem;
}
.project-made h1 {
    color: #ffbd39;
    margin-top: 10rem;
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}
.project-all{
    margin-top: 20px;
    color: white;
    display: flex;
    text-align: left;   
    margin-bottom: 50px;
}
.proj1{
    color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 3rem;
    left: 0px;
}
.proj1 p{
    margin-top: 20px;
    height: 125px;
    width: 400px;
}
.project-made a{
    color: white;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}
.project-made a:hover{
    color: #ffbd39;
}
.street-img{
    height: 200px;
    width: 200px;
    position: relative;
    left: 0px;
    background-image: url("streetlight.jpg");
    background-size: cover;
}
/* project2 */
.proj2{
    color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    top: 3rem;
    left: 10rem;
}
.proj2 p{
    margin-top: 20px;
    height: 125px;
    width: 400px;
}
.radar-img{
    height: 200px;
    width: 200px;
    background-image: url("radar-img.webp");
    background-size: cover;
    position: relative;
    left: 10rem;
}
/* contact */
.head-contact{
    border-top: 1px solid grey;
    margin-top: 10rem;
    text-align: center;
    color: #ffbd39;
}
.head-contact h1{
    margin-top: 20px;
}
.contact{
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
}
.facebook{
    height: 40px;
    width: 40px;
    background-image: url("fb.png");
    background-size: cover;
    border-radius: 50%;
    margin-right: 15px;
}
.insta{
    height: 40px;
    width: 40px;
    background-image: url("insta.jpg");
    background-size: cover;
    border-radius: 50%;
    margin-right: 15px;
}
.linkedin{
    height: 40px;
    width: 40px;
    background-image: url("linked.png");
    background-size: cover;
    border-radius: 50%;
    margin-right: 15px;
}
.twitter{
    height: 40px;
    width: 40px;
    background-image: url("twitter.png");
    background-size: cover;
    border-radius: 50%;
    margin-right: 15px;
}
.mail{
    height: 40px;
    width: 40px;
    background-image: url("mail.png");
    background-size: cover;
    border-radius: 50%;
}
/* footer */
.footer{
    height: 40px;
    padding-top: 20px;
    color: white;
    text-align: center;
    position: relative;
    bottom: 2px;
    background-color: rgb(13, 10, 10);
    font-size: 0.85rem;
}